@model WebApplication2.Models.Titles

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Titles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TitleId" />
            <div class="form-group">
                <label asp-for="TitleName" class="control-label"></label>
                <input asp-for="TitleName" class="form-control" />
                <span asp-validation-for="TitleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FederationId" class="control-label"></label>
                <select asp-for="FederationId" class="form-control" asp-items="ViewBag.FederationId"></select>
                <span asp-validation-for="FederationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
